{% extends 'coffeeshop/base.html' %}
{% load static %}

{% block title %} ADMIN-Juan Valdez {% endblock %}

{% block letter %} 	
<link rel="stylesheet" type="text/css" href="{% static 'coffeeshop/css/style_user.css' %}" />
{% endblock letter%}	

{% block pestanas %}
<div class="butPrinci">
  <ul>
  {% block pestanasAD %}
  {% endblock %}
  </ul>
</div>
{% endblock %}

{% block admi-areatrabajo %}
	<div class="admi-areatrabajo">
	{% block admi-areatrabajoAD %}
	{% endblock admi-areatrabajoAD %}
	</div>
{% endblock admi-areatrabajo %}
 
{% block admi-img %}
	<div class="imagenes">
		<img class="imagenes1" src="{% static 'coffeeshop/img/juanvaldez.png' %}" >
		<img class="imagenes2" src="{% static 'coffeeshop/img/EafitNormal.png' %}" >
	</div>
{% endblock admi-img%}