{% extends 'coffeeshop/admin-base.html' %}
	{% block pestanasAD %}
		<li><a href=" {% url 'coffeeshop:adminRV' %}">Registrar compra</a></li>
		<li><a href=" {% url 'coffeeshop:adminRP' %}">Revisar productos</a></li>
		<li><a href=" {% url 'coffeeshop:adminAP' %} ">Añadír productos</a></li>
		<li><a href=" {% url 'coffeeshop:adminRVs' %}">Revisar producto</a></li>
		<li><a class="estoy" href=" {% url 'coffeeshop:adminRU' %}">Registrar usuario</a></li>
	{% endblock %}

	{% block admi-areatrabajoAD %}			
	{% endblock %}

	{% block img-admin%}
	{% endblock %}