{% extends 'coffeeshop/admin-base.html' %}
	{% block pestanasAD %}
	<li><a class="estoy" href=" {% url 'coffeeshop:adminRV' %}">Registrar compra</a></li>
	<li><a href=" {% url 'coffeeshop:adminRP' %}">Revisar productos</a></li>
	<li><a href=" {% url 'coffeeshop:adminAP' %} ">Añadír productos</a></li>
	<li><a href=" {% url 'coffeeshop:adminRVs' %}">Revisar producto</a></li>
	<li><a href=" {% url 'coffeeshop:adminRU' %}">Registrar usuario</a></li>
	{% endblock %}

	{% block admi-areatrabajoAD %}			
		<div class="anadriProducto">
				<button>Añadír</button>
		</div>

		<div class="infoCliente">
				
		</div>

		<div class="tabla">
				
		</div>
				
		<div class="infoFactura">
		
		</div>
	{% endblock %}

	{% block img-admin%}
	{% endblock %}