{% extends 'coffeeshop/admin-base.html' %}
	{% block pestanasAD %}
	<li><a class="estoy" href="#">Registrar compra</a></li>
	<li><a href="./admin-revisar_producto.html">Revisar productos</a></li>
	<li><a href="./admin-anadir_producto.html">Añadír productos</a></li>
	<li><a href="./admin-revisar_ventas.html">Revisar producto</a></li>
	{% endblock %}

	{% block admi-areatrabajoAD %}			
		<div class="anadriProducto">
				<button>Añadír</button>
		</div>

		<div class="infoCliente">
				
		</div>

		<div class="tabla">
				
		</div>
				
		<div class="infoFactura">
		
		</div>
	{% endblock %}

	{% block img-admin%}
	{% endblock %}