{% extends 'coffeeshop/admin-base.html' %}
	{% block pestanasAD %}
		<li><a href=" {% url 'coffeeshop:register_sell' %}">Registrar venta</a></li>
		<li><a href=" {% url 'coffeeshop:check_sells' %}">Revisar ventas</a></li>
		<li><a href=" {% url 'coffeeshop:add_products' %} ">Añadír producto</a></li>
		<li><a href=" {% url 'coffeeshop:product_table' %}">Productos</a></li>
		<li><a clas="estoy" href=" {% url 'coffeeshop:combos' %}">Combo</a></li>
		<li><a href=" {% url 'coffeeshop:admin_register' %}">Registrar usuario</a></li>
	{% endblock pestanasAD%}

	{% block admi-areatrabajoAD %}			
	{% endblock admi-areatrabajoAD %}

	{% block img-admin %}
	{% endblock img-admin %}
