{% extends 'coffeeshop/user-base.html' %}
{% load static %}
{% block admi-areatrabajo %}
	<h3>¡¡¡Minimus clients!!!</h3>
	<table class = "table">
			<thead class="tableH">
				<tr>
					<td>Nombre</td>
					<td>Identificación</td>
					<td>Ciudad</td>
					<td>Puntos</td>
				</tr>
			</thead>

			<tbody>
				
				{% if object_list %}
					{% for client in object_list %}
					<tr>
						<td> {{ client.name_client }} </td>
						<td> {{ client.id_client }} </td>
						<td> {{ client.id_city }} </td>
						<td> {{ client.points }} </td>
					</tr>
					{% endfor %}

				{% else %}
					<p class="no_products"> --No clients here-- </p>
				{% endif %}
				
			</tbody>
		</table>
		<br><br><br><br><br>
{% endblock %}
