<html>
<head>
	<title>User</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style_user.css" />
</head>	
<body>
	<header>
		<div class="wrapper">
			<div class="logo"><img src="Imagenes/icono2222.png" width="300"></div>

			<nav>
				<a href="#">Inicio</a>
				<a href="#">Servicios</a>
				<a href="#">Proyectos</a>
				<a href="#">Contactos</a>
			</nav>
		</div>
	</header>

<h2> 


El baloncesto nació como una respuesta a la necesidad de realizar alguna actividad deportiva durante el invierno en el norte de Estados Unidos. Al profesor de la Universidad de Springfield (Massachusetts), James Naismith (un profesor canadiense) le fue encargada la misión, en 1891, de idear un deporte que se pudiera jugar bajo techo, pues los inviernos en esa zona dificultaban la realización de alguna actividad al aire libre.

James Naismith analizó las actividades deportivas que se practicaban en la época, cuya característica predominante era la fuerza o el contacto físico, y pensó en algo suficientemente activo, que requiriese más destreza que fuerza y que no tuviese mucho contacto físico. El canadiense recordó un antiguo juego de su infancia denominado “duck on a rock” (El pato sobre una roca), que consistía en intentar alcanzar un objeto colocado sobre una roca lanzándole una piedra. Naismith pidió al encargado del colegio unas cajas de 50 cm de diámetro pero lo único que le consiguió fueron unas canastas de melocotones, que mandó colgar en las barandillas de la galería superior que rodeaba el gimnasio, a una altura determinada.
James Naismith analizó las actividades deportivas que se practicaban en la época, cuya característica predominante era la fuerza o el contacto físico, y pensó en algo suficientemente activo, que requiriese más destreza que fuerza y que no tuviese mucho contacto físico. El canadiense recordó un antiguo juego de su infancia denominado “duck on a rock” (El pato sobre una roca), que consistía en intentar alcanzar un objeto colocado sobre una roca lanzándole una piedra. Naismith pidió al encargado del colegio unas cajas de 50 cm de diámetro pero lo único que le consiguió fueron unas canastas de melocotones, que mandó colgar en las barandillas de la galería superior que rodeaba el gimnasio, a una altura determinada.

</h2>

	<div id="f1"><center> <a href="https://www.facebook.com/" target="_blank"><img src="Imagenes/f.png" width="50"></a> <a href="https://twitter.com/" target="_blank"><img src="Imagenes/t.png" width="50"></a> <a href="https://plus.google.com/" target="_blank"><img src="Imagenes/g.png" width="50"></a> </center></div>
	<div id="f3"><br><center>Copyright 2017 JuanValdez | Todos los derechos reservados.<center></div>

</body>
</html>