{% extends 'coffeeshop/base.html' %}
{% load static %}

{% block letter %} 
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
	<link rel="stylesheet"  href="{% static 'coffeeshop/css/styles2.css' %}">
{% endblock letter %}


{% block pestana-usuario %}
	<nav>
		<a href="{% url 'coffeeshop:index' %}">Inicio</a>
		<a href="{% url 'coffeeshop:h2' %}">Puntos Jv</a>
		<a href="{% url 'coffeeshop:h3' %}">Promociones</a>
		<a href="{% url 'coffeeshop:h4' %}">Combo</a>
	</nav>
{% endblock %}

{% block admi-areatrabajo %}
	<div id="body">
	<div id="info"> 
		 <p id="headline">Que es?</p>
		 <br> <br>
		 <p id="info2">	El canal institucional se subdivide en multiples categorías que atienden diversas necesidades y perfiles de clientes. 

		De los posibles consumos de café de una persona, el canal institucional cubre la mayor parte de ellos: Oficinas, restaurantes, hoteles, aerolíneas, cafeterías y eventos. 

El canal HoReCa reúne los hoteles, restaurantes y cafeterías en quienes Procafecol ha activado planes de entrenamiento, capacitación y valoración de calidades en su servicio de café.</p>
		</div>
	</div>
	<br>
{% endblock %}