*(
	margin:0px;
	padding:0px;
)
body {
	background:#fffffa;
}


header {
	width: 100%;
	height: 20%;
	overflow: hidden;
	background:#252932;
	margin-bottom: 20px; 
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}
header .logo{
	color: #f2f2f2;
	font-size: 50px;
	line-height: 200px;
	float: none;
}
header nav {
	float: right;;
	line-height: 200px;
}
header nav a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
}
header nav a:hover{
	background: #354C81;
	border-radius: 50px;
}
 .header2 {
 	position: fixed;
 	font-size: 30px;
 }
 .header2 .logo{
 	line-height: 100px;
 	font-size: 30px;
 }
 .header2 nav {
 	line-height: 100px;
 }
/** PARTE DE ABAJO*/
 #f1 {

  background: #252932;
  height: 80px;
  width: 100%;
  padding-top: 27px;

}
#f3 {
  width: 100%;
  height: 90px;
  background: #354C81;
  color: #FFF;
  font-size: 13px;
  padding-top: 35px;
}
